.images{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 206, 199);
    padding: 2% 5%;
}
.images i{
    font-size: 1.7rem;
    cursor: pointer;
}
.images img{
    height: 14rem;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
}
.thriller{
    display: flex;
    flex-direction: column;
}
.thriller p{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
    width: fit-content;
    margin-left: 4rem;
}
.thriller.active{
    background-color: rgb(119, 115, 114);
    /* color: white; */
}
.images.active{
    background-color: rgb(153, 148, 147);
    color: white;
}
@media(max-width:760px){
    .images{
        padding: 2% 1%;
    }
    .images img{
        height: 7rem;
        width: 7rem;
    }
}